<?xml version="1.0" encoding="UTF-8"?>
<!--
  Tomcat Users Configuration
  Contains user definitions for manager and admin roles
-->
<tomcat-users xmlns="http://tomcat.apache.org/xml"
              xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xsi:schemaLocation="http://tomcat.apache.org/xml tomcat-users.xsd"
              version="1.0">

  <!-- Roles -->
  <role rolename="manager-gui"/>
  <role rolename="manager-script"/>
  <role rolename="manager-jmx"/>
  <role rolename="manager-status"/>
  <role rolename="admin-gui"/>
  <role rolename="admin-script"/>

  <!-- Admin user with full access -->
  <user username="{{ tomcat_admin_username }}"
        password="{{ tomcat_admin_password }}"
        roles="manager-gui,manager-script,manager-jmx,manager-status,admin-gui,admin-script"/>

  <!-- Deployment user (for Jenkins CI/CD) -->
  <user username="{{ tomcat_deploy_username }}"
        password="{{ tomcat_deploy_password }}"
        roles="manager-script,manager-status"/>

</tomcat-users>
