---
# Install Java 11

- name: Install Java {{ java_version }}
  yum:
    name: "{{ java_package }}"
    state: present

- name: Set JAVA_HOME environment variable
  lineinfile:
    path: /etc/profile.d/java.sh
    line: "export JAVA_HOME=/usr/lib/jvm/java-{{ java_version }}-openjdk"
    create: yes
    mode: '0644'

- name: Add JAVA_HOME to PATH
  lineinfile:
    path: /etc/profile.d/java.sh
    line: "export PATH=$JAVA_HOME/bin:$PATH"

- name: Verify Java installation
  command: java -version
  register: java_version_result
  changed_when: false

- name: Display Java version
  debug:
    var: java_version_result.stderr_lines
